body {
    font-family: 'Lato', sans-serif;
}

.login-form {
    display: flex;
    width: 100%;
    height: 100vh;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
}

.form {
    width: 540px;
    height: 392px;
    background-color: #fff;
    padding: 70px 30px 20px;
}

.form label {
    font-weight: 700;
    color: #666;
}

input.form-control {
    border-radius: 0;
    margin-bottom: 30px;
}

button.btn {
    width: 100%;
    background-color: #59bd60;
    border: solid #59bd60 3px;
    border-radius: 0;
    margin-top: 20px;
    text-transform: uppercase;
}

button.btn:hover {
    background-color: #59bd60;
    border: solid #59bd60 3px;
}